langchain
langgraph
langchain-openai
langchain-ollama
langchain-community
openai
fastapi
uvicorn
fastapi[standard]
kafka-python
redis
langmem
langfuse
sqlalchemy
mcp
python-dotenv
psycopg2
langchain-core